<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">About</h2>
        <p class="text-faded">MY BACKGROUND</p>
        <div align="left">

          <p class="text-faded">
            With a curiosity for AI/ML and Neuroscience, I spent 6 years researching and developing novel algorithms for
            the analysis of brain recordings from neural imaging data, working at an innovative new research institute
            the <a href="http://www.oist.jp/" style="color:white">Okinawa Institute of Science and
              Technology (OIST)</a> that has made its mission to rethink higher education. 

            I have recently taken up a new position working on developing a data-driven approach for the
            global Environment, Health, and Saftey department of a Fortune500 Company. 

            I am also passionate about mentoring, coaching, and skill-building individuals and teams through organizing
            events such as hackathons, seminar talks, or just plain old one-to-one conversations over a coffee.  

            In my spare time I throw paint at large canvases, read and (sometimes write) Sci-fi novels,
            travel Asia, drink a lot of coffee, and cuddle with my cats Pankeki and Maple. </p>

        </div>
      </div>
    </div>
  </div>
</section>
