<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About</h2>
                <hr class="light">
                <p class="text-faded">Hi there! You can call me Lena :) I spend most of my time doing research as a PhD student in machine learning and neural computation at the <a href="http://www.oist.jp/" style="color:moccasin">Okinawa Institute of Science and Technology (OIST)</a>, at the group of <a href="https://groups.oist.jp/ncu" style="color:moccasin">Prof. Kenji Doya</a>. 

                In my spare time I mentor, teach Python foo, throw paint at large canvases, write Sci-Fi novels, travel Asia, drink a lot of coffee and cuddle with my cats Pankeki and Maple. </p>

      
      <div class="col-sm-4" >

        <h3>Interests</h3>
        
            <ul class="ul-interests">
            <div align="left">
          
                <li>Machine Learning</li>
          
                <li>Neuroscience</li>
          
            </div>
            </ul>
        
      </div>
      

      
      <div class="col-sm-4">
        <h3>Education</h3>
        <ul class="ul-edu fa-ul">
        <div align="left">
          
          <li>
            <i class="fa-li fa fa-graduation-cap"></i>
            <div class="description">
              <p class="course">Ph.D. in Machine Learning/Neural Computation, 2019</p>
              <p class="institution">Okinawa Institute of Science and Technology Graduate University</p>
            </div>
          </li>
          
          <li>
            <i class="fa-li fa fa-graduation-cap"></i>
            <div class="description">
              <p class="course">B.Sc. in Cognitive Science, 2012</p>
              <p class="institution">University of Osnabrueck</p>
            </div>
          </li>
          </div>
        </ul>
        
      </div>
      

      
      <div class="col-sm-4">
        <h3>Experience</h3>
        <ul class="ul-experience">
        <div align="left">
          
          <li>
            <div class="info">
                <p class="title">Research assistant, 2012 - Current 
                    </p>
                <p class="company">OIST</p>
            </div>
          </li>
          
          <li>
            <div class="info">
                <p class="title">Software engineer, 2018 - 2011 
                    </p>
                <p class="company">EyeQuant</p>
            </div>
          </li>
    
          </div>
        </ul>
      
      </div>
      
                <a href="#portfolio" class="btn btn-default btn-xl">Check out my projects!</a>
            </div>
        </div>
    </div>
</section>
