<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Summary</h2>
                <hr class="light">
                <p class="text-faded">Lena spends most of her time doing research as a Phd student in machine learning and neural computation at the [Okinawa Institute of Science and Technology (OIST)](http://www.oist.jp/), at the group of [Prof. Kenji Doya](https://groups.oist.jp/ncu). 

In her spare time she paints, travels Asia, drinks a lot of coffee and cuddles with her cats Pankeki and Maple. </p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
