<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <hr class="light">
                <p class="text-faded">Hi there! My name is Lena :) I spend most of my time doing research as a PhD student in machine learning and neural computation at the <a href="http://www.oist.jp/" style="color:white">Okinawa Institute of Science and Technology (OIST)</a>, at the group of <a href="https://groups.oist.jp/ncu" style="color:white">Prof. Kenji Doya</a>. 

                In my spare time I mentor students, teach Python skills, throw paint at large canvases, write Sci-fi novels, travel Asia, drink a lot of coffee and cuddle with my cats Pankeki and Maple. </p>

      
      <div class="col-sm-4" >

        <h3>Interests</h3>
        
            <ul class="ul-interests">
            <div align="center">
                <div align="left">
          
                  <li>Machine learning and data science</li>
          
                  <li>Computational Neuroscience</li>

                  <li>Languages</li>

                  <li>Abstarct and conceptual contemporary art</li>

                  <li>Sci-fi</li>
          
              </div>
            </div>
            </ul>
        
      </div>
      

      
      <div class="col-sm-4">
        <h3>Education</h3>
        <ul class="ul-edu fa-ul">
        <div align="center">
        <div align="left">
          
          <li>
            <div class="description">
              <p class="course">Ph.D. in Machine Learning/Neural Computation, 2019</p>
              <p class="institution">Okinawa Institute of Science and Technology Graduate University</p>
            </div>
          </li>
          
          <li>
            <div class="description">
              <p class="course">B.Sc. in Cognitive Science, 2012</p>
              <p class="institution">University of Osnabrueck</p>
            </div>
          </li>
        </div>

      </div>
        </ul>

      </div>
      

      
      <div class="col-sm-4">
        <h3>Experience</h3>
        <ul class="ul-experience">

        <div align="center">
          <div align="left">

            <li>
            <div class="info">
                <p class="title">Senior research assistant, 2016 - Current </p>
                <p class="company">OIST</p>
            </div>
            </li>
          
            <li>
            <div class="info">
                <p class="title">Research assistant, 2012 - 2016 </p>
                <p class="company">OIST</p>
            </div>
            </li>
          
            <li>
            <div class="info">
                <p class="title">Software engineer, 2018 - 2011 </p>
                <p class="company">EyeQuant</p>
            </div>
            </li>
    
          </div>
        </div>
      </ul>
      
      </div>
      
                
            </div>
        </div>
        <div class="row">
            <div align="center">
                <a href="#portfolio" class="btn btn-default btn-xl">Check out my projects!</a>
            </div>
        </div>

    </div>
</section>
