<header>
    <div class="header-content">
        <div class="header-content-inner">
            <div class="row">

                <div class="col-md-8">
                    <p class="text-faded">Hi, my name is</p>
                    <h1>Lena Schulze</h1>

                    <p class="text-faded">Let's talk about</p>
                    <p>Machine Learning | Neural Computation | Abstract Art | Sci-fi</p>


                    <div class="col-md-4">
                        <div class="bg-primary">
                            <div class="col-lg-12 text-center">
                                <img src="img/icon.svg" class="img-responsive" alt="">
                                <h3>Lena Schulze</h3>
                                <p>
                                    Ph.D. in Machine Learning and Neural Computation
                                </p>
                                <p>
                                    Sr. Data Scientist
                                </p>
                                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</header>
