<header>
    <div class="header-content">
        <div class="header-content-inner">
            <div class="container">
                <div class="col-md-2">

                    <img src="img/icon.svg" class="img-responsive" alt="">
                    <h3>Lena Schulze</h3>
                    <p>
                        Ph.D. in Machine Learning and Neural Computation <br>
                        Sr. Data Scientist
                    </p>


                </div>

                <div class="col-md-10">
                    <p class="text-faded">Hello, I'm</p>
                    <h1>Lena Schulze</h1>
                    <p>Artificial Intelligence | Machine Learning | Neural Computation</p>

                    <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
                </div>

            </div>
        </div>
    </div>
</header>
